/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root{
    --primary: #7000FF;
    --secundary: #8fff00;
    --tertiary: #fff000;
    --red: #E10000;
    --black: #050504ff;
    --white: #FEF6FF;
    --grey: #B1A8B9;
    --darkgrey: #302F30ff;
    --textcolor: #FDFDFD;
    --background: #0D0D0D;
}

/* Global Settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: var(--background);
    color: var(--textcolor);
}

html{
    scroll-behavior: smooth;
}

section{
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 0 2em 0 2em;
}

span{
    color: var(--primary);
}

/* Animations */
@keyframes float{
    0%{
        transform: translateY(-5%);
        transition: ease 1s;
    }
    50%{
        transform: translateY(5%);
        transition: ease 1s;
    }
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes animatedBg{ 
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/* Effects */
.content h1 span::after{
    content: '|';
    margin-left: .2em;
    opacity: 1;
    animation: blink .8s infinite;
    color: var(--textcolor);
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--grey);
}
  
::-webkit-scrollbar-thumb{
    background: var(--darkgrey);
}
  
::-webkit-scrollbar-thumb:hover{
    background: var(--black);
}

/* Navbar */ 
nav{
    position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 2em;
    z-index: 1;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 2em;
}

nav ul li a{
    color: var(--textcolor);
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover{
    color: var(--primary);
}

nav p{
    font-weight: 800;
    font-size: 1.5em;
    cursor: pointer;
}

nav .icon{
    display: none;
    color: var(--textcolor);
    font-size: 2em;
    padding-top: -17rem;
}

/* Back to top */
.back{
    background-color: var(--secundary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    text-decoration: none;
}

.back::after{
    content: "↑";
    font-size: 1.4em;
    font-weight: bold;
    color: var(--black);
    transition: margin-top 200ms;
}

.back:hover::after{
    margin-top: .3em;
}

/* Button */
.btn{
	background-color: var(--primary);
	color: var(--textcolor);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 1em;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}

/* Scroll Animation */
.hidden{
    filter: blur(4px);
    transition: all 1s ease !important;
}

.show{
    filter: blur(0);
    transition: all 1s ease !important;
}

@media (prefers-reduced-motion: no-preference){
    .hidden {
      transition: all .3s;
    }
}

/* Hero section */
.hero{
    background: url(/img/hero.avif);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
    font-size: 2em;
}

/* About Section */
.about{
	width: 100%;
	padding: 100px 0px;
	background-image: linear-gradient(240deg, #121212 , #262626);
}

.about img{
	height: auto;
	width: 35%;
}

.aboutText{
	width: 55%;
    color: var(--white);
}

.aboutText h2{
	font-size: 2em;
	text-transform: capitalize;
	margin-bottom: 1em;
}
.aboutText h5{
	color: var(--white);
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.aboutText p{
	color: var(--grey);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
    align-items: center;
}

button{
	background-color: var(--primary);
	color: var(--textcolor);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
    font-size: 1em;
}

button:hover{
	background-color: transparent;
	border: 2px solid var(--primary);
	cursor: pointer;
}

/* Stack section */
.stack{
    background: url(/img/stack2.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
	width: 100%;
    grid-template-rows: 1fr 4fr;
}

.stack h2{
    font-size: 2.5em;
}

.box{
    width: 30%;
	height: auto;
    padding: 2em;
	background: rgba(255, 255, 255, 0.15);
    animation: float 2.5s infinite;
    transform: translateY(-5%);
}

.box h3{
    padding: 4px 4px 1em;
}

.box ul li{
    padding: 4px;
    list-style: none;
    background:
       linear-gradient(
         to bottom,
         rgba(0, 0, 0, 0.1) 0%,
         rgba(0, 0, 0, 0.1) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 1px;
    transition: background-size .8s;
}

.box ul li:hover{
    background-size: 4px 26px;
    cursor: pointer;
}

.box i{
    font-size: 1.2em;
    padding: 4px;
}

/* Projects section */

.projects{
    display: grid;
	width: 100%;
    grid-template-rows: 1fr 4fr;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(112,0,255,1) 35%, rgba(0,212,255,1) 100%);
    animation: animatedBg 20s ease infinite;
}

.projects h2{
    font-size: 2.5em;
}

.projectsArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}
    
.projectsArea > div{
    position: relative;
    padding: 1em;
    height: 200px;
}

.projectsArea > div:hover{
    background: var(--secundary) !important;
    color: var(--black);
    cursor: pointer;
    transform: translateY(-5%);
}

.projectsArea > div:after{ 
    content:'';
    display: block;
    position: absolute;
    left: 12%;
    bottom: 0px;
    width: 80%;
    max-width: 210px;
    height: 10px;
    background: transparent;
    border-radius: 100px/50px;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.5);
}

.projectsArea > div:hover:after{
    box-shadow: 0 50px 40px rgba(0, 0, 0, 1);
}

.projectsArea > div h3{
    margin-bottom: .5em;
}

.projectsArea > div p{
    font-size: .9em;
    margin-bottom: .5em;
}

.projectsArea > div em{
    font-size: .8em;
}

.projectsArea > div ul li{
    list-style: none;
    font-size: .7em;
}

.projectsArea > div a{
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
    font-size: .8em;
}

.projectsArea > div a:hover{
    text-decoration: underline;
}

.projectsArea > div .bottom{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: .5em;
}

/* Contact Me section */

.contactMe{
    display: grid;
	width: 100%;
    grid-template-rows: 1fr 4fr;
    background: url("/img/stack.jpg");
    background-size: cover;
    background-position: center;
}

.contactMe h2{
    font-size: 2.5em;
}

.contactForm{
    position: relative;
    width: 50%;
    margin: 1em;
}

form input{
    width: 100%;
    background-color: var(--background);
    border: 1px solid var(--darkgrey);
    color: var(--textcolor);
    padding: .5em;
    margin: .2em;
    opacity: .9;
}

form input:nth-child(4){
    height: 100px;
}

form button{
    border-radius: 0px;
    width: 100%;
}

#spam{
    position: absolute;
    top: -9999px;
}

.socialMedia{
    margin: 1em;
    padding: 1em;
    width: 50%;
    position: relative;
    background-color: rgba(13, 13, 13, 0.9);
    text-align: center;
}

.socialMedia p{
    margin-top: 2.5em;
    font-size: 1.2em;
}

.socialMedia i{
    margin: 1em 0 1em;
    font-size: 1.8em;
    padding: .8em;
    background-color: var(--primary);
    border-radius: 0%;
    border: 2px solid rgba(0, 0, 0, 0.0);
}

.socialMedia i:hover{
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid var(--primary);
    border-radius: 100%;
}

.socialMedia a{
    color: var(--textcolor);
}

/* Footer */
footer{
    text-align: center;
}

footer p{
    font-size: .8em;
    margin: 1em;
    opacity: .25;
    font-weight: 600;
}

footer p:hover{opacity: .9;}

/* Mobile */
@media only screen and (max-width: 600px){
    /* Navbar */
    nav{
        display: block;
        padding: .5em;
        font-size: .8em;
    }

    nav li{
        width: 100%;
    }

    .nav a, nav p{display: none;}

    .nav a.icon{
        position: absolute;
        right: 15px;
        top: 10px;
        display: block;
    }

    .nav.responsive{
        position: relative;
        background-color: var(--background);
    }

    .nav.responsive a.icon{
        position: absolute;
        right: 15px;
        top: 10px;
    }
    
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}